---
import TodoList from "../components/TodoList.astro"
import TodoForm from "../components/TodoForm.astro"
import { handleFormSubmission } from "../utils/formHandler"
import BaseLayout from "../layouts/Base.astro"
import { getSession } from "auth-astro/server"

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData()
  await handleFormSubmission(formData)
  return Astro.redirect("/", 303)
}

const session = await getSession(Astro.request)
---

<BaseLayout>
  {
    session ? (
      <>
        <TodoForm />
        <TodoList />
      </>
    ) : (
      <p>Not logged in</p>
    )
  }
</BaseLayout>
