---
import { WorkoutCategories, db } from "astro:db"
const categories = await db.select().from(WorkoutCategories)
import BaseLayout from "../layouts/Base.astro"
import { getSession } from "auth-astro/server"
import handleFormSubmission from "../utils/formHandler"

const session = await getSession(Astro.request)
if (!session) {
  return Astro.redirect("/login", 303)
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData()
  await handleFormSubmission(formData)
  return Astro.redirect("/workouts", 303)
}
---

<BaseLayout>
  <form id="workout-form" method="POST" class="form-container">
    <input type="hidden" name="formType" value="workout" />
    <div class="form-field">
      <label for="name">Workout Name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-field">
      <label for="categoryId">Category</label>
      <select id="categoryId" name="categoryId" required>
        {
          categories.map((category) => (
            <option value={category.id}>{category.name}</option>
          ))
        }
      </select>
    </div>
    <div class="form-field">
      <label for="weightPerDumbbell">Weight per dumbbell</label>
      <input
        type="number"
        id="weightPerDumbbell"
        name="weightPerDumbbell"
        min="0"
        step="1"
        required
      />
    </div>
    <div class="form-field">
      <label for="reps">Reps</label>
      <input type="number" id="reps" name="reps" min="0" step="1" required />
    </div>
    <div class="form-field">
      <label for="sets">Sets</label>
      <input type="number" id="sets" name="sets" min="0" step="1" required />
    </div>
    <footer>
      <button type="submit">Add workout</button>
    </footer>
  </form>
</BaseLayout>

<style>
  footer {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  .form-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  input, select {
    border-radius: 0.15em;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }

  button {
    background-color: #4a8;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.15em;
    cursor: pointer;
  }

  button:hover {
    background-color: #3a7;
  }

  @media (max-width: 768px) {
    .form-field {
      flex-direction: column;
    }
  }
</style>