---
import { Categories, ToDos, db } from "astro:db"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)

const categories = await db.select().from(Categories)

import DialogTodo from "./dialogs/DialogTodo.astro"
import DialogCatergories from "./dialogs/DialogCatergories.astro"
---

<header>
  {
    session ? (
      <>
        <div id="actions">
          {categories.length > 0 && <button id="todo">Add Todo</button>}
          <button id="categories">Add Category</button>
        </div>
        <button id="logout">Logout</button>
      </>
    ) : (
      <button id="login">Login</button>
    )
  }
  <DialogTodo />
  <DialogCatergories />
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client")

  const login = document.querySelector("#login")
  const logout = document.querySelector("#logout")

  login?.addEventListener("click", () => signIn("github"))
  logout?.addEventListener("click", () => signOut())
</script>

<style>
  #actions {
    display: flex;
    gap: 2rem;
  }
  #login {
    margin-left: auto;
  }
</style>
