---
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
---

<header>
  {
    session ? (
      <>
        <div id="actions">
          <button id="todo">Todo</button>
          <button id="categories">Categories</button>
          <button id="projects">Projects</button>
        </div>
        <button id="logout">Logout</button>
      </>
    ) : (
      <button id="login">Login</button>
    )
  }
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client")
  document
    .querySelector("#login")
    ?.addEventListener("click", () => signIn("github"))
  document.querySelector("#logout")?.addEventListener("click", () => signOut())
</script>

<style>
  header {
    max-width: 1024px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  #actions {
    display: flex;
    gap: 2rem;
  }
  #login {
    margin-left: auto;
  }
</style>
