---
import { getSession } from "auth-astro/server"
import { Categories, db } from "astro:db"
const categories = await db.select().from(Categories)
const session = await getSession(Astro.request)
---

<header>
  {
    session ? (
      <>
        <div id="actions">
          <button id="todo">Todo</button>
          <button id="categories">Categories</button>
          <button id="projects">Projects</button>
        </div>
        <button id="logout">Logout</button>
      </>
    ) : (
      <button id="login">Login</button>
    )
  }
  <dialog>
    <form id="todo-form" method="POST" class="form-container">
      <input type="hidden" name="formType" value="todo" />
      <div>
        <label for="name">Todo Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="categoryId">Category</label>
        <select id="categoryId" name="categoryId" required>
          <option value="">Select a category</option>
          {
            categories.map((category) => (
              <option value={category.id}>{category.name}</option>
            ))
          }
        </select>
      </div>
      <footer>
        <button onclick="this.closest('dialog')?.close()">Close</button>
        <button type="submit">Add Todo</button>
      </footer>
    </form>
  </dialog>
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client")

  const login = document.querySelector("#login")
  const logout = document.querySelector("#logout")
  const dialog = document.querySelector("dialog")
  const todoButton = document.querySelector("#todo")

  login?.addEventListener("click", () => signIn("github"))
  logout?.addEventListener("click", () => signOut())

  todoButton?.addEventListener("click", () => {
    dialog?.showModal()
  })
</script>

<style>
  footer {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  #actions {
    display: flex;
    gap: 2rem;
  }
  #login {
    margin-left: auto;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .sub-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
</style>
