---
import { Categories, ToDos, db } from "astro:db"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)

const categories = await db.select().from(Categories)

import DialogTodo from "./dialogs/DialogTodo.astro"
import DialogCatergories from "./dialogs/DialogCatergories.astro"
---

<header>
  {
    session ? (
      <div id="actions">
        {categories.length > 0 && <button id="todo">Todo</button>}
        <button id="categories">Category</button>
        <button id="logout">Logout</button>
      </div>
    ) : (
      <button id="login">Login</button>
    )
  }
  <DialogTodo />
  <DialogCatergories />
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client")

  const login = document.querySelector("#login")
  const logout = document.querySelector("#logout")

  login?.addEventListener("click", () => signIn("github"))
  logout?.addEventListener("click", () => signOut())
</script>

<style>
  #actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }

  button:last-of-type {
    margin-top: auto;
  }

  @media (max-width: 768px) {
    button {
      flex: 1;
      font-size: large;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0;
    }
    #actions {
      flex: 1;
      flex-direction: row;
      gap: 1.25rem;
    }
  }
</style>
