---
import { Categories, db } from "astro:db"

const categories = await db.select().from(Categories)
---

<div>
  <div>
    <h1>Add Todo</h1>
    <!-- Todo Form -->
    <form method="POST" class="form-container">
      <input type="hidden" name="formType" value="todo" />
      <div>
        <label for="name">Todo Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="categoryId">Category</label>
        <select id="categoryId" name="categoryId" required>
          <option value="">Select a category</option>
          {
            categories.map((category) => (
              <option value={category.id}>{category.name}</option>
            ))
          }
        </select>
      </div>
      <button type="submit">Add Todo</button>
    </form>
  </div>

  <!-- Category Form -->
  <div>
    <h1>Manage Categories</h1>
    <div class="form-container">
      <form method="POST" class="sub-form">
        <input type="hidden" name="formType" value="category" />
        <div>
          <label for="categoryName">Category Name</label>
          <input type="text" id="categoryName" name="name" required />
        </div>
        <button type="submit">Add Category</button>
      </form>
      <form method="POST" class="sub-form">
        <input type="hidden" name="formType" value="removeCategory" />
        <div>
          <label for="categoryId">Remove Category</label>
          <select id="categoryId" name="categoryId" required>
            <option value="">Select a category</option>
            {
              categories.map((category) => (
                <option value={category.id}>{category.name}</option>
              ))
            }
          </select>
        </div>
        <button type="submit">Remove Category</button>
      </form>
    </div>
  </div>
</div>

<style>
  button {
    font-family: inherit;
    background-color: var(--color-bg);
    color: var(--color-bg);
    border: 2px solid var(--color-border);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  button:hover {
    background-color: var(--color-link);
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
    border: 2px solid var(--color-border);
    border-radius: 0.5rem;
  }

  .sub-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
</style>
