---
import { Categories, ToDos, db } from "astro:db"
import Todo from "./Todo.astro"

const categories = await db.select().from(Categories)
const todos = await db.select().from(ToDos)
---

<div>
  <h1>ToDos</h1>
  {
    categories.map((category) => {
      const categoryTodos = todos.filter(
        (todo) => todo.categoryId === category.id
      )
      return (
        <article>
          <h2>{category.name}</h2>
          <ul>
            {categoryTodos.map((todo) => (
              <li>
                <Todo todo={todo} />
              </li>
            ))}
          </ul>
        </article>
      )
    })
  }
</div>
