---
import { Categories, ToDos, db } from "astro:db"
import Todo from "./Todo.astro"

const categories = await db.select().from(Categories)
const todos = await db.select().from(ToDos)
---

<h1>ToDos</h1>
{
  todos.map((todo) => {
    const category = categories.find((c) => c.id === todo.categoryId)
    return <Todo todo={todo} categoryName={category?.name} />
  })
}
