---
import { ToDos, db } from "astro:db"
import Todo from "./Todo.astro"

const todos = await db.select().from(ToDos)

const priority1 = todos.filter((todo) => todo.priority === 1)
const priority2 = todos.filter((todo) => todo.priority === 2)
const priority3 = todos.filter((todo) => todo.priority === 3)
---

<div id="todo-list">
  {
    priority1.length > 0 && (
      <>
        <h3>##### Always</h3>
        <ul>
          {priority1.map((todo) => (
            <li>
              <Todo todo={todo} />
            </li>
          ))}
        </ul>
      </>
    )
  }
  {
    priority2.length > 0 && (
      <>
        <h3>##### Most Days</h3>
        <ul>
          {priority2.map((todo) => (
            <li>
              <Todo todo={todo} />
            </li>
          ))}
        </ul>
      </>
    )
  }
  {
    priority3.length > 0 && (
      <>
        <h3>##### Sometimes</h3>
        <ul>
          {priority3.map((todo) => (
            <li>
              <Todo todo={todo} />
            </li>
          ))}
        </ul>
      </>
    )
  }

  <style>
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      padding: 0.25rem 0;
    }
  </style>
</div>
