---
import { Categories, ToDos, db } from "astro:db"
import Todo from "./Todo.astro"

const categories = await db.select().from(Categories)
const todos = await db.select().from(ToDos)
---

<div id="todo-list">
  {
    categories.map((category) => {
      const categoryTodos = todos.filter(
        (todo) => todo.categoryId === category.id
      )
      return (
        <article>
          <h2>{category.name}</h2>
          <ul>
            {categoryTodos.map((todo) => (
              <li>
                <Todo todo={todo} />
              </li>
            ))}
          </ul>
        </article>
      )
    })
  }
</div>

<style>
  /* #todo-list {
    background-color: darkblue;
  } */
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 0.25rem 0;
  }
</style>
