---
// import { ClientRouter } from "astro:transitions"
import Navigation from "../components/Navigation.astro"

import "../layouts/styles/reset.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark" />
    <title>Todo App with Streaks</title>
    <!-- <ClientRouter /> -->
  </head>
  <body>
    <div id="layout">
      <Navigation />
      <section class="container">
        <slot />
      </section>
    </div>
  </body>
</html>

<style is:global>
  :root {
    font-size: 16px;
    --color-bg: hsl(256, 15%, 12%);
    --color-bg-light: hsl(256, 15%, 28%);
    --color-text: hsl(256, 10%, 90%);
    --color-border: hsl(256, 15%, 45%);
    --color-link: hsl(265, 80%, 65%);
    --color-link-hover: hsl(265, 90%, 75%);
  }
  html {
    font-family: monospace;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  button {
    font-family: inherit;
    background-color: var(--color-bg);
    color: var(--color-bg);
    border: 2px solid var(--color-border);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  button:hover {
    background-color: var(--color-link);
  }

  dialog {
    padding: 1.75rem 2.25rem;
    place-self: center;
    border: 2px solid var(--color-border);
    border-radius: 0.5rem;
  }

  dialog::backdrop {
    background: #fff1;
    backdrop-filter: blur(4px);
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-bg);
    margin: 0;
    margin-right: 1rem;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--color-border);
    border-radius: 0.15em;
    cursor: pointer;
    display: inline-grid;
    align-self: center;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-text);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  #layout {
    display: flex;
    /* flex-direction: column; Stack content vertically */
    height: 100svh;
    justify-content: space-between; /* Push header to bottom */
  }

  .container {
    flex: 1; /* Take up remaining space */
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    gap: 8rem;
    overflow-y: auto;
    padding-left: 2rem;
  }

  header {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    border-top: none;
    border-right: 1px solid var(--color-border);
  }

  @media (max-width: 768px) {
    #layout {
      flex-direction: column-reverse;
    }

    .container {
      padding: 0;
      padding-top: 1rem;
      margin: 0 1rem;
      font-size: 0.875rem;
    }
    header {
      border-right: none;
      border-top: 1px solid var(--color-border);
      flex-direction: row;
      align-items: center;
      height: auto;
      justify-content: center;
      gap: 1.25rem;
      padding: 1rem;
      font-size: 0.75rem;
    }

    dialog {
      width: 100%;
      /* height: 100%; */
      max-width: 80vw;
      padding: auto;
    }
  }
</style>
